<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AddToDatabase" value="Y" />
		<add key="CardTable" value="Card_Data" />
		<add key="ImageTable" value="Card_Images" />
	</appSettings>
	<connectionStrings>
		<add name="SQL_DB_ConnectionString" connectionString="Data Source=localhost\SQLEXPRESS01;Initial Catalog=YUGIOH;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>